/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e293b;
}

.heading {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 90px;
  color: #f0bb03;
}

.description {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.subscribe-button {
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px;
  cursor: pointer;
  outline: none;
}
